In [5]:
# ============================================================
# Pandas Practice on Dummy Dataset: sales_data.csv
# ============================================================

import pandas as pd

# ----------------------------------------
# Load the CSV
# ----------------------------------------
data = pd.read_csv("./data/sales_data.csv")

# ============================================================
# Level 1 – Basics
# ============================================================

# 1. Load the CSV file into Pandas and display the first 5 rows
data.head()

# 2. Show only the `customer_name` and `product` columns
data[["customer_name", "product"]]

# 3. How many total rows and columns are in the dataset?
data.shape

# ============================================================
# Level 2 – Filtering & Selection
# ============================================================

# 4. Get all orders where the region is "North"
data[data["region"] == "North"]

# 5. Find all orders where quantity is greater than 2
data[data["quantity"] > 2]

# 6. Show all "Electronics" orders with a discount above 0.1
data[(data["category"] == "Electronics") & (data["discount"] > 0.1)]

# ============================================================
# Level 3 – Aggregations
# ============================================================

# 7. Calculate total revenue for each order and add as a new column `total_price`
data["total_price"] = data["quantity"] * data["unit_price"] * (1 - data["discount"])
data.head()
# write into file/create new file
data.to_csv("./data/output_data.csv")

# 8. Find the average discount given for "Furniture" category products
data[data["category"] == "Furniture"]["discount"].mean()

# 9. Get the total quantity sold per region
data.groupby("region")["quantity"].sum()

# ============================================================
# Level 4 – Advanced
# ============================================================

# 10. Find the top 2 customers by total spending
data.groupby("customer_name")["total_price"].sum().sort_values(ascending=False).head(2)

# 11. For each category, get the most expensive product (based on unit_price)
data.loc[data.groupby("category")["unit_price"].idxmax()][["category", "product", "unit_price"]]

# 12. Group the data by region and category and get the total quantity sold for each combination
data.groupby(["region", "category"])["quantity"].sum().reset_index()

  region     category  quantity
0   East  Electronics         2
1  North  Electronics         4
2  North    Furniture         3
3  South  Electronics         1
4  South    Furniture         4
5   West  Electronics         1
6   West    Furniture         7